<div class="container">
    <div>
       <h2>Ajouter un Nourriture :</h2>
    </div>
    <form >
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
           <label >ID Nourriture</label>
             <input type="text" [(ngModel)]="newNourriture.idNourriture"  name="idNourriture" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
         <label >Nom Nourriture</label>
              <input type="text"[(ngModel)]= "newNourriture.nomNourriture"name="nomNourriture" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
           <label >Prix Nourriture</label>
              <input type="number" [(ngModel)]= "newNourriture.prixNourriture"name="prixNourriture" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
           <label >Date création</label>
              <input type="date" [(ngModel)]= "newNourriture.dateCreation" name="dateCreation" class="form-control">
        </div>
         <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Categorie</label>
        <div class="mt-2">
         <select class="form-control form-control-lg" id="idCat" name="idCat"[(ngModel)]="newIdCat">
            <option *ngFor="let cat of categories" [value]="cat.idCat" >
               {{cat.nomCat}}
            </option>
         </select>
        </div> 
            <button type="submit" (click)="addNourriture()"class="btn btn-success">Ajouter</button>
        
            <div>
               <h3>{{message}}</h3>

            </div>
         </div>
      </form>
</div>
